<%provide :title, "Hep"%>
<h1>Help</h1>
<p>
  Find me at <a href="http://www.railstutorial.org/help"> Ruby on Rails</a>
  Get something new for rails 5.0.0 <a href="http://www.railstutorial.org/book">
  </a><em>Rails tutorial</em>
</p>
