<%provide :title, t("header.help") %>
<div class="center jumbotron">
  <h1><%= t "header.help" %></h1>
  <p>
    <%= t "help_page.link" %>
     <a href="http://www.railstutorial.org/help"> Ruby on Rails</a>
    <%= t "help_page.newRails" %>
      <a href="http://www.railstutorial.org/book"><em>Rails tutorial</em> </a>
  </p>

</div>
